# Python bytecode / cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/

# OS junk
.DS_Store
Thumbs.db

# Exports
exports/

# Ignore test_root content
/test_root/
